!index.html
*.py
.vscode/launch.json
.vscode/settings.json
notes/template.json
notes/all.json
Gemfile.lock
_site/*
*.old
_site/404.html
_site/feed.xml
_site/index.html
_site/sitemap.xml
_site/assets/css/main.css
_site/img/placeholder.txt
