!index.html
*.py
.vscode/launch.json
.vscode/settings.json
notes/template.json
notes/all.json
Gemfile.lock
_site
_site/*.xml
_site/*.html
_site/feed.xml
_site/*.jpg
_site/img
_site/images/*.jpg
_site/images/*.png
_site/assets/webfonts
_site/*.xml
*.old
_site/assets/css/images
_site/
_site/404.html
_site/404.html
_site/feed.xml
