<!-- One -->
<article id="main">
    <header>
        <h1>About Us</h1>
        <p>Here's a little bit about our story</p>
    </header>
    <section class="wrapper style5">
        <div class="inner">
            <h5>Left &amp; Right</h5>
            <p><span class="image left"><img src="images/pic04.jpg" alt="" />
            </span>David and Carrie matched on Tinder in February of 2017. They talked to each other and shared themselves honestly. Eventually, David worked up the courage to make things more "serious." </p>
            <p><span class="image right"><img src="images/pic05.jpg" alt="" /></span>Vestibulum ultrices risus velit, sit amet blandit massa auctor sit amet. Sed eu lectus sem. Phasellus in odio at ipsum porttitor mollis id vel diam. Praesent sit amet posuere
                risus, eu faucibus lectus. Vivamus ex ligula, tempus pulvinar ipsum in, auctor porta quam. Proin nec dui cursus, posuere dui eget interdum. Fusce lectus magna, sagittis at facilisis vitae, pellentesque at etiam. Quisque posuere leo quis
                sem commodo, vel scelerisque nisi scelerisque. Suspendisse id quam vel tortor tincidunt suscipit. Nullam auctor orci eu dolor consectetur, interdum ullamcorper ante tincidunt. Mauris felis nec felis elementum varius. Nam sapien ante, varius
                in pulvinar vitae, rhoncus id massa. Donec varius ex in mauris ornare, eget euismod urna egestas. Etiam lacinia tempor ipsum, sodales porttitor justo. Aliquam dolor quam, semper in tortor eu, volutpat efficitur quam. Fusce nec fermentum
                nisl. Aenean erat diam, tempus aliquet erat. Etiam iaculis nulla ipsum, et pharetra libero rhoncus ut. Phasellus rutrum cursus velit, eget condimentum nunc blandit vel. In at pulvinar lectus. Morbi diam ante, vulputate et imperdiet eget,
                fermentum non dolor. Ut eleifend sagittis tincidunt. Sed viverra commodo mi, ac rhoncus justo. Duis neque ligula, elementum ut enim vel, posuere finibus justo. Vivamus facilisis maximus nibh quis pulvinar. Quisque hendrerit in ipsum id
                tellus facilisis fermentum. Proin mauris dui.</p>
        </div>
    </section>

    <div class="box alt">
        <div class="row gtr-50 gtr-uniform">
            <div class="col-12"><span class="image fit"><img src="images/banner.jpg" alt="" /></span></div>
            <div class="col-4"><span class="image fit"><img src="images/pic01.jpg" alt="" /></span></div>
            <div class="col-4"><span class="image fit"><img src="images/pic02.jpg" alt="" /></span></div>
            <div class="col-4"><span class="image fit"><img src="images/pic03.jpg" alt="" /></span></div>
            <div class="col-4"><span class="image fit"><img src="images/pic03.jpg" alt="" /></span></div>
            <div class="col-4"><span class="image fit"><img src="images/pic02.jpg" alt="" /></span></div>
            <div class="col-4"><span class="image fit"><img src="images/pic01.jpg" alt="" /></span></div>
            <div class="col-4"><span class="image fit"><img src="images/pic02.jpg" alt="" /></span></div>
            <div class="col-4"><span class="image fit"><img src="images/pic01.jpg" alt="" /></span></div>
            <div class="col-4"><span class="image fit"><img src="images/pic03.jpg" alt="" /></span></div>
        </div>
    </div>


    <!-- Three -->
    <section id="three" class="wrapper special">
        <div class="inner">
            <header class="major">
                <h2>David and Carrie met on a Tuesday night in March of 2017 </h2>
                <p>He ordered chips and guac for the table.<br /> It was best friends at first sight.</p>
            </header>
            <section class="spotlight">
                <div class="image"><img src="images/pic03.jpg" alt="" /></div>
                <div class="content">
                    <h2>We spent almost every day together for a month<br />
                    </h2>
                    <p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
                </div>
            </section>
            <ul class="features">
                <li class="icon fa-paper-plane">
                    <h3>Arcu accumsan</h3>
                    <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                </li>
                <li class="icon solid fa-laptop">
                    <h3>Ac Augue Eget</h3>
                    <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                </li>
                <li class="icon solid fa-code">
                    <h3>Mus Scelerisque</h3>
                    <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                </li>
                <li class="icon solid fa-headphones-alt">
                    <h3>Mauris Imperdiet</h3>
                    <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                </li>
                <li class="icon fa-heart">
                    <h3>Aenean Primis</h3>
                    <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                </li>
                <li class="icon fa-flag">
                    <h3>Tortor Ut</h3>
                    <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                </li>
            </ul>
        </div>
    </section>

    <!-- CTA -->
    <section id="cta" class="wrapper style4">
        <div class="inner">
            <header>
                <h2></h2>
                <p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
            </header>
            <ul class="actions stacked">
                <li><a href="#" class="button fit primary">Activate</a></li>
                <li><a href="#" class="button fit">Learn More</a></li>
            </ul>
        </div>
    </section>
</article>