<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>Caroline Kirby <br>& David Reilly</h2>
        
        <p>July 3rd, 2022 @ Knowlton Mansion<br />
        <ul class="actions special">
            <li><a href="gallery.html" class="button primary">Gallery</a></li>
            <li><a href="registry.html" class="button primary">Registry</a></li>
            <li><a href="#" class="button alt" id="uploadForm">Upload to Our Gallery</a></li>
        </ul>
        <ul class="actions stacked row justify-content-center" style="align-items:center">
            <li><input type="text" placeholder="Enter your name"/></li>
            <li><input type="submit" value="submit" class="button alt" id="submitName"/></li>
        </ul>
    </div>
    
</section>
