<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-analytics.js"></script>
<!-- Required for pushes to db. -->
<script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-auth.js"></script>
<!-- <script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-auth.js"></script> -->
<script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-database.js"></script>
<!-- firebase storage import-->
<script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-storage.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyAAuCfhKQDOcyJ-W84tYkv5ejOwqPGttXw",
    authDomain: "kirbeilly.firebaseapp.com",
    databaseURL: "https://kirbeilly-default-rtdb.firebaseio.com",
    projectId: "kirbeilly",
    storageBucket: "kirbeilly.appspot.com",
    messagingSenderId: "347130414493",
    appId: "1:347130414493:web:2921b7a54f8acc73449b74",
    measurementId: "G-EG6NC76EWZ"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();

</script>