<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="msvalidate.01" content="36E2C261E7DEF8241D0CD5B9B9418996" />
    {%- seo -%}
    <link rel="stylesheet" href={{ "/assets/css/styles.css" | relative_url }}>
    <link rel="stylesheet" href={{ "/assets/css/main.css" | relative_url }}>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.5.0/css/lightgallery-bundle.min.css">
    {%- feed_meta -%}
    <noscript><link rel="stylesheet" href="{{ "/assets/css/noscript.css" | relative_url }}"/></noscript>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EG6NC76EWZ"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/3.23.2/minified.min.js"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EG6NC76EWZ');
    </script>
</head>
