

    <!-- Scripts -->
    <script src={{ "/assets/js/jquery.min.js" | relative_url }}></script>
    <script src={{ "/assets/js/jquery.scrollex.min.js" | relative_url }}></script>
    <script src={{ "/assets/js/jquery.scrolly.min.js" | relative_url }}></script>
    <script src={{ "/assets/js/browser.min.js" | relative_url }}></script>
    <script src={{ "/assets/js/breakpoints.min.js" | relative_url }}></script>
    <script src={{ "/assets/js/util.js" | relative_url }}></script>
    <script src={{ "/assets/js/main.js" | relative_url }}></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
    <!-- <script src="https://s.pageclip.co/v1/pageclip.js" charset="utf-8"></script> -->