
<!-- One -->
<section id="one" class="wrapper special">
    <div class="inner">
        <header class="major">
            <h2>Our story begins in March 2017</h2>
            <p>Carrie and I "matched" on a major dating app.
            </p>
        </header>
        <ul class="icons major alt">
            <li><span class="icon solid far fa-fire major" style="color:lightcoral"></span></li>
        </ul>
        <p>We''ll let you guess which app.</p>
        <ul class="icons major">
            <li><span class="icon fa-solid fa-comment-dots major style3"><span class="label">David: Context, pretext, and subtext with me?</span></span></li>
            <li><span class="icon fa-solid fa-thumbs-up major style4"><span class="label">She gave me her number.</span></span></li>
        </ul>
        <p> We talked every day, but our busy schedules made it difficult to meet. <br>
            Eventually, nearly 6 weeks after we started talking, we met in person.</p>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper alt">
    <section class="spotlight">
        <div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
            <h2>The connection was instantaneous<br /></h2>

        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
            <h2>We shared our selves<br />
            and didn't hide our true feelings</h2>

        </div>
    </section>
    <section class="alt wrapper" style="padding-top: 50px;">
        <div class="content" style="text-align:center">
            <p>The match was genuine.</p>
            <p>And it wasn't long before Carrie and I were dating.</p>
        </div>
    </section>

</section>

<!-- Three -->
<section id="three" class="wrapper special">
    <div class="inner">
        <header class="major">
            <h2>Well, there's a lot that happened. </h2>
            <p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
            fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
        </header>
        <section class="spotlight">
            <div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
                <h2>We went on a vacation to Florida together<br />
                </h2>
                <p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
            </div>
        </section>
        <ul class="features">
            <li class="icon fa-paper-plane">
                <h3>Arcu accumsan</h3>
                <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
            </li>
            <li class="icon solid fa-laptop">
                <h3>Ac Augue Eget</h3>
                <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
            </li>
            <li class="icon solid fa-code">
                <h3>Mus Scelerisque</h3>
                <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
            </li>
            <li class="icon solid fa-headphones-alt">
                <h3>Mauris Imperdiet</h3>
                <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
            </li>
            <li class="icon fa-heart">
                <h3>Aenean Primis</h3>
                <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
            </li>
            <li class="icon fa-flag">
                <h3>Tortor Ut</h3>
                <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
            </li>
        </ul>
    </div>
</section>

<!-- CTA
<section id="cta" class="wrapper style4">
    <div class="inner">
        <header>
            <h2>Arcue ut vel commodo</h2>
            <p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
        </header>
        <ul class="actions stacked">
            <li><a href="#" class="button fit primary">Activate</a></li>
            <li><a href="#" class="button fit">Learn More</a></li>
        </ul>
    </div>
</section> -->