
{% assign events = site.data.events %}

<!-- Modal -->
<div class="modal fade modal" id="submitModal" tabindex="-1" role="dialog" aria-hidden="true" style="padding-right:0px">
    <div class="modal-dialog modal-dialog-centered modal-med">
        <div class="modal-content">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
            </div>
            <div id="splash" class="modal-header">
                <header>
                    <h3 id="title" style="color:#2E3842">Upload A File to the Timeline</h5>
                </header>
                <button class="close" data-dismiss="modal" aria-label="Close" style="box-shadow:none">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body wrapper style5 inner">
                <p class="inner" style="color:#2E3842">Select a file to upload to the <a href="timeline.html" title="Photos/Videos will be visible in the timeline page.">timeline page</a>.</p>
                <form id="upload" class="row gtr-uniform">
                    <div class="col-12 aln-right">
                        <textarea id="fileCaption" placeholder="Send us a caption for your file!" rows="1"></textarea>
                    </div>
                    <div class="col-12 aln-right">
                        <input required id="uploader" type="text" placeholder="Enter your name"></input>
                    </div>
                    <!-- <div> 
                    <div class="col-6 col-12-small">
                        <input type="checkbox" id="specify-time" name="specify-time" checked="">
                        <label for="specify-time">Specify a Time for Upload</label>
                    </div>
                        <select name="timeline_category" class="disabled">
                        {% for event in events %}
                            <option value="{{ event.heading }}">{{ event.heading }}</option>
                        {% endfor %}
                    </select></div> -->
                    <div class="col-12 row aln-left">
                        <div id="filesubmit" type="submit">
                            <input type="file" class="file-select" accept="image/*,video/*" style="color:#2E3842"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="alt button" data-dismiss="modal">Close</button>
                <button type="button" type="file" value="Submit" class="file-submit primary button">Submit</button>
              </div>
            </div>
        </div>
    </div>
</div>