
{% assign events = site.data.events %}

<!-- Modal -->
<div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content wrapper style2">
            <div class="modal-header">
                <header>
                    <h3 id="exampleModalLongTitle">Upload A File to the Timeline</h5>
                    <p>Choose a file from any moment during the day to upload. Files will display on our timeline page</p>
                </header>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="upload">
                    <div id="filesubmit" class="col-6">
                        <input type="file" class="file-select" accept="image/*,video/*"/>
                    </div>
                    <div class="col-12 row-gtr">
                        <textarea id="fileCaption" placeholder="Send us a caption for your file!" rows="2"></textarea>
                        <input required id="uploader" type="text" placeholder="Enter your name"></input>
                        <select name="timeline_category">
                            {% for event in events %}
                                <option value="{{ event.heading }}">{{ event.heading }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="alt button" data-dismiss="modal">Close</button>
                <button type="button" type="file" value="Submit" class="file-submit primary button">Submit</button>
              </div>
            </div>
        </div>
    </div>
</div>