<!-- Header -->
<header id="timeline" class="alt">
    <h1><a href="index.html">Home</a></h1>
    <nav id="nav">
        <ul>
            <li class="special">
                <a href="#menu" class="menuToggle"><span>Menu</span></a>
                <div id="menu">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="registry.html">Registry</a></li>
                        <li><a href="dayof.html">Day Of</a></li>
                        <li><a href="hotel.html">Hotel and Things to Do</a></li>
                        <li><a id="uploadForm" href="#">Share Your Photos</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
    <h2>Timeline</h2>
    <p>Help Us Make a Real-time Wedding Album</p>
    <p>Pictures and Videos uploaded via the menu and home page display here!</p>

    {% include submit.html %}
</header>