<style>
    .video-gallery {overflow: auto; margin-left: -1%!important;}
    .video-gallery li {float: left; display: block; margin: 0 0 1% 1%; width: 19%;}
    .video-gallery li a {text-align: center; text-decoration: none!important; color: #777;}
    .video-gallery li a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
    .video-gallery li a img {width: 100%; display: block;}
</style>

<ul class="video-gallery">
    <h3>Video</h3>
    
    <iframe width="560" height="315" src="//www.youtube.com/embed/ZlRZkAOMMmk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    {% comment %}
        {% for file in site.static_files %}
            {% if file.path contains include.folder %}
                {% if file.extname == '.MP4' or file.extname == '.mov' %}
                    {% assign filenameparts = file.path | split: "/" %}
                    {% assign filename = filenameparts | last | replace: file.extname,"" %}
                    <video width="320" height="240" controls>
                        <source src="{{ site.url | replace: 'http://','' | replace: 'https://','' }}{{ file.path | relative_url }}" type="video/mp4">
                    </video>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% comment %}
</ul>
