---
permalink: save-the-date.html
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <body class="landing is-preload"></body>
  		<!-- Page Wrapper -->
		<div id="page-wrapper">
            {%- include header.html -%}
        <!-- Main -->
        <article id="main">
            <header>
                <h2>Reservations Page</h2>
                <p>Please fill out the form below</p>
            </header>
            <section class="wrapper style5">
                <div class="inner">
                    <section>
                        <form action="https://send.pageclip.co/Ny7mFKmAQzWy4a5ZQ5aJ5eVUHuEpsL5t" class="pageclip-form" onsubmit="myFunction()">
                            <div class="row gtr-uniform">
                                <div class="col-6 col-12-xsmall">
                                    <input type="text" class="form-control" size=”19″ name="fistName" id=”firstName” value="" placeholder="First Name"><br><br>
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <input type="text" class="form-control"  size=”19″ name="lastName" id="lastName" value="" placeholder="Last Name"><br><br>
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <input type="email" class="form-control"  name="email" id="email" value="" placeholder="Email" /><br><br>
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <input type="tel" title="Enter numbers only [000 323 3928]" class="form-control" id="phone" type="tel" name="tel" pattern="^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$" maxlength="12" value="" placeholder="Phone Number" required="'required'"/><br><br>
                                </div>
                            </div> 
                            <div class="col-12">
                                <textarea name="demo-message" id="sendMessage" placeholder="Send us a message!" rows="6"></textarea><br><br>
                            </div>
                            <div class="col-12">
                                <ul class="actions">
                                    <li><input type="submit" value="Submit" class="primary button pageclip-form_submit" /></li>
                                    <li><input type="reset" value="Reset" /></li>
                                </ul>
                            </div>
                            <!-- <div id = "wufoo-zwkaya70m3b0ov" > Fill out my
                                <a href = "https://ckirbeilly.wufoo.com/forms/zwkaya70m3b0ov" > online form </a> .
                            </div>
                            <form method="post" action="#">
                                <script type = "text/javascript">
                                    var zwkaya70m3b0ov;
                                    (function (d, t) {
                                        var s = d.createElement(t),
                                        options = {
                                        'userName': 'ckirbeilly',
                                        'formHash': 'zwkaya70m3b0ov',
                                        'autoResize': true,
                                        'height': '340',
                                        'async': true,
                                        'host': 'wufoo.com',
                                        'header': 'show',
                                        'ssl': true
                                        };
                                    s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'secure.wufoo.com/scripts/embed/form.js';
                                    s.onload = s.onreadystatechange = function () {
                                    var rs = this.readyState;
                                    if (rs)
                                        if (rs != 'complete')
                                            if (rs != 'loaded')
                                                return;
                                    try {
                                        zwkaya70m3b0ov = new WufooForm();
                                        zwkaya70m3b0ov.initialize(options);
                                        zwkaya70m3b0ov.display();
                                    } catch (e) {}
                                    };
                                    var scr = d.getElementsByTagName(t)[0],
                                    par = scr.parentNode;
                                    par.insertBefore(s, scr);
                                    })(document, 'script');
                                </script>
                            </form>  -->
                        </form>
                    </section>
                </div>
            </section>

                
            <section id="one" class="wrapper style1 special">
           
                </section>

        </div>
        
    {%- include footer.html -%}
    
    {%- include scripts.html -%}

    <script>
        function myFunction() {
          alert("The form was submitted").show();
        }
    </script>

  </body>
</html>