---
permalink: save-the-date.html
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="landing is-preload"></body>
  		<!-- Page Wrapper -->
		<div id="page-wrapper">
            {%- include header.html -%}
        <!-- Main -->
        <article id="main">
            <header>
                <h2>Save the Date</h2>
                <p>Please fill out the form below</p>
            </header>
            <section class="wrapper style5">
                <div class="inner">
                    <section>
                        <form id="saveTheDate">
                            <div class="row gtr-uniform">
                                <div class="col-6 col-12-xsmall">
                                    <input type="text" class="form-control" size=”19″ name="fistName" id=”firstName” value="" required placeholder="First Name*"><br>
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <input type="text" class="form-control"  size=”19″ name="lastName" id="lastName" value="" required placeholder="Last Name*"><br>
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <input type="email" class="form-control"  name="email" id="email" value="" required placeholder="Email*" /><br><br>
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <input type="tel" title="Enter numbers only [000 323 3928]" class="form-control" id="phone" type="tel" name="tel" pattern="^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$" maxlength="12" value="" placeholder="Phone Number*" required="'required'"/><br><br>
                                </div>
                                <div class="col-12">
                                    <input type="text" class="form-control" name="street-address" autocomplete="home street-address" required placeholder="Street Address*"/><br>
                                    <input type="text" class="form-control" name="address-level2" autocomplete="home address-level2" required placeholder="City*"/><br>
                                    <input type="text" class="form-control" name="address-level1" autocomplete="home address-level1" required placeholder="State*"/><br>
                                    <input type="text" class="form-control" name="postal-code" autocomplete="home postal-code" required placeholder="Postal Code*"/><br><br><br>
                                </div>
                            </div> 
                            <div class="row gtr-uniform">
                            <div class="col-12">
                                <textarea name="demo-message" id="sendMessage" placeholder="Send us a message!" rows="6"></textarea><br><br>
                            </div>
                            <div class="col-12">
                                <ul class="actions">
                                    <li><input type="submit" value="Submit" class="form_submit primary button" /></li>
                                    <li><input type="reset" value="Reset" /></li>
                                </ul>
                            </div>
                        </form>
                    </section>
                </div>
            </section>
        </div>
        
    {%- include footer.html -%}

    {%- include scripts.html -%}    \

    {%- include firebase.html -%}
    
    <script type="text/javascript" src= {{ "/assets/js/submitListener.js" | relative_url }}></script>
  </body>
</html>
