---
permalink: hotel.html
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <body class="landing is-preload"></body>
  		<!-- Page Wrapper -->
			<div id="page-wrapper">
        {%- include header.html -%}
          <!-- Main -->
          <article id="main">
            <header>
                <h2>Hotel and Location Details</h2>
                <p>Hotel Reservations, Things to Do, it's all here!</p>
            </header>
            <section id="hotel" class="wrapper style1 special">
                <div class="inner">
                    <section>
                        <div>
                          <a href=https://www.marriott.com/event-reservations/reservation-link.mi?id=1634228432634&key=GRP&app=resvlink>group reservation link</a>
                          <p>
                            Four Points by Sheraton <br>
                            Philadelphia Northeast <br>
                            Phone: <a href="tel:12673506019">267-350-6019</a>
                          </p>
                        </div>
                        <div >
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3052.850811613178!2d-75.03120958438342!3d40.07873977940589!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6b397b7c92717%3A0xaad03c2cb08c2e23!2sFour%20Points%20by%20Sheraton%20Philadelphia%20Northeast!5e0!3m2!1sen!2sus!4v1638027506666!5m2!1sen!2sus" top="0" left="0" bottom="0" right="0" width="100%" height="100%" style="border:0;" position="relative" overflow="hidden" padding-bottom="56.25%" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </section>
                </div>
            </section>
            <section id="three" class="wrapper style3">
                <div class="inner">
                  <header>
                    <h3>Here are some things to do in the area!</h5>
                  </header>
                  <section>
                    <header>
                      <h4>10-20 minutes from the hotel</h5>
                    </header>
                    <ul class="features">
                      <li class="icon solid fa-skating">
                        <h6><a href="http://northeastskatezone.com/">Northeast Skate Zone</a></h3>
                        <p>Beat the heat with some ice skating! Cheap, fun, and one of our favorite things to do.</p>
                      </li>
                      <li class="icon solid fa-thumbs-up">
                        <h6><a href="http://www.stevesprinceofsteaks.com/">Steve's Prince of Steaks</a></h3>
                        <p>Now there's a good sandwich</p>
                      </li>
                      <li class="icon solid fa-camera">
                        <h6><a href="http://www.brynathynchurch.org/">Bryn Athyn Cathedral</a></h3>
                        <p>A cathedral that should be in Europe, right in Northeast Philly.</p>
                      </li>
                      <li class="icon solid fa-smile-beam">
                        <h6><a href="http://www.bewellbakery.com/menu-overview-3">Be Well Bakery and Cafe</a></h3>
                        <p>Absolutely delicious</p>
                      </li>
                    </ul>
                    <header>
                      <h4>20-30 minutes from the hotel</h5>
                      <p>These are all between the airport and the hotel:
                      </p>
                    </header>
                    <ul class="features">
                      <li class="icon solid fa-camera-retro">
                        <h6>Center City Philadelphia</h6>
                        <p>Consider a visit to some great museums in Center City</p>
                          <p><a href="https://www.rodinmuseum.org/">The Rodin Museum</a></p>
                          <p><a href="https://www.philamuseum.org/">Philadelphia Museum of Art</a></p>
                          <p><a href="http://www.easternstate.org/">Eastern State Penitentiary</a></p>
                          <p><a href="http://muttermuseum.org/">The Mutter Museum</a><p>
                      </li>
                      <li class="icon solid fa-hamburger">
                        <p>You can't sightsee on an empty stomach!</p>
                        <p><a href="https://readingterminalmarket.org/">Reading Terminal Market</a><p>
                        <p><a href="http://www.theoriginaltonylukes.com/">Tony Luke's. The best cheese steak in philly. Fisticuffs if you disagree.</a></p>
                      </li>
                    </ul>
                    <header>
                      <h4>30+ minutes from the hotel</h4>
                      <p>These are some of our favorite places to wander:</p>
                    </header>
                    <ul class="features">
                      <li class="icon solid fa-coffee">
                          <h6>Lambertville, NJ</h6>
                          <p><a href="https://www.lambertvilletrading.com/">The Lambertville Trading Company</a></p>
                          <p><a href="http://www.cafefullmoon.com/menu.html">Full Moon Cafe</a></p>
                      </li>
                      <li class="icon solid fa-beer">
                        <h6>New Hope, PA</h6>
                        <p><a href="https://bhwp.org/">Bowman's Hill Wildflower Preserve</a></p>
                        <p><a href="http://www.triumphbrewing.com/">Triumph Brewing Company</a></p>
                      </li>
                      <li class="icon solid fa-book">
                        <h6>Peddler's Village - New Hope, PA</h6>
                        <p><a href="http://facebook.com/LahaskaBookshop">Lahaska Book Shop</a></p>
                        <p><a href="http://www.twistknittingandspinning.com/">Twist Knitting and Spinning</a></p>
                      </li>
                    </ul>
                  </section>
                </div>
            </section>
          </article>
      </div>
    </div>
    {%- include footer.html -%}

    {%- include scripts.html -%}

  </body>

</html>
