---
permalink: hotel.html
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <body class="landing is-preload"></body>
  		<!-- Page Wrapper -->
			<div id="page-wrapper">
        {%- include header.html -%}
          <!-- Main -->
          <article id="main">
            <header>
                <h2>Hotel and Day Of Details</h2>
                <p>Please see everything you need to know about the day of below.</p>
            </header>
            <section id="hotel" class="wrapper style1 special">
                <div class="inner">
                    <section>
                        <div>
                          <a href=https://www.marriott.com/event-reservations/reservation-link.mi?id=1634228432634&key=GRP&app=resvlink>group reservation link</a>
                          <p>
                            Four Points by Sheraton <br>
                            Philadelphia Northeast <br>
                            Phone: <a href="tel:12673506019">267-350-6019</a>
                          </p>
                        </div>
                        <div >
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3052.850811613178!2d-75.03120958438342!3d40.07873977940589!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6b397b7c92717%3A0xaad03c2cb08c2e23!2sFour%20Points%20by%20Sheraton%20Philadelphia%20Northeast!5e0!3m2!1sen!2sus!4v1638027506666!5m2!1sen!2sus" top="0" left="0" bottom="0" right="0" width="100%" height="100%" style="border:0;" position="relative" overflow="hidden" padding-bottom="56.25%" allowfullscreen="" loading="lazy"></iframe>\
                        </div>
                    </section>
                </div>
            </section>
          </article>
      </div>
    </div>
    {%- include footer.html -%}

    {%- include scripts.html -%}

  </body>

</html>
