---
permalink: registry.html
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    {%- include head.html -%}
    <body class="landing is-preload">
        <!-- Page Wrapper -->
        <div id="page-wrapper">
            {%- include header.html -%}
            <!-- Banner -->
            <section id="banner">
                <div class="inner">                
                    <h3>Our Wedding Registry</h3><br/>
                    <ul class="actions special">
                        <li><a href="">Crate and Barrel</a><br></li>
                        <li><a href="">Target</a><br></li>
                        <li><a href="">Any other stuff..</a><br></li>
                      <!--
                        <li><a href="save-the-date.html" class="button primary">Reservations</a></li>
                        <li><a href="registry.html" class="button primary">Registry</a></li>
                        -->
                    </ul>
                </div>

            </section>
            <section id="one" class="wrapper style1 special">
        </div>
        {%- include footer.html -%}

        {%- include scripts.html -%}
    </body>
</html>