---
permalink: registry.html
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    {%- include head.html -%}
    <body class="landing is-preload">
        <!-- Page Wrapper -->
        <div id="page-wrapper">
            {%- include header.html -%}
            <!-- Main -->
            <article id="main">
                <header>
                    <h2>Registry Page</h2>
                    <p>Please see our gift registry below!</p>
                </header>
                <section id="registry" class="wrapper style1 special">
                    <div class="inner">
                        <section>
                            <br>
                            <script id='script_myregistry_giftlist_iframe' type='text/javascript' src='//www.myregistry.com//Visitors/GiftList/iFrames/EmbedRegistry.ashx?r=_48nGRjoXW_fPKzYU0ONCg2&v=2'></script>
                        </section>
                    </div>
                </section>
            </article>
        </div>    
        {%- include footer.html -%}

        {%- include scripts.html -%}
    </body>
</html>