---
permalink: rsvp.html
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="landing is-preload"></body>
  		<!-- Page Wrapper -->
		<div id="page-wrapper">
            {%- include header.html -%}
        <!-- Main -->
        <article id="main">
            <header class="rsvp">
                <h2>RSVP Page</h2>
                <p>Please RSVP Below</p>
            </header>
            <section class="wrapper style3">
                <div class="wrapper alt">
                    <section>
                        <form id="rsvp">
                            <table class="table-container" role="table" text-align="center" id="reservationTable">
                                <thead class="flex-table row" role="rowgroup">
                                    <td class="flex-row first" role="columnheader">First Name</div>
                                    <td class="flex-row" role="columnheader">Last Name</div>
                                    <td class="flex-row" role="columnheader">Food Selection</div>
                                    <td class="flex-row" role="columnheader">Allergies</div>
                                    <td class="flex-row" role="columnheader">Lodging</div>
                                    <td class="flex-row" role="columnheader">Add/Remove</div>
                                </thead>
                                <tbody>
                                    <tr class="flex-table row" role="rowgroup" name="person_1" id="person_1">
                                        <td class="flex-row first" role="cell"><input type="text" class="form-control" size=”19″ role="name" name="person1_firstName" id="person1_firstName" value="" required placeholder="First Name*"></td>
                                        <td class="flex-row" role="cell"><input type="text" class="form-control"  size=”19″ role="name" name="person1_lastName" id="person1_lastName" value="" required placeholder="Last Name*"></td>
                                        <td class="flex-row" role="cell">
                                            <select class="form-control" required name="person1_foodSelection" role="food" id="person1_foodSelection" onchange="replaceSelection(this)">
                                                <option value="Chicken" selected="selected">Chicken</option>
                                                <option value="Fish">Fish</option>
                                                <option value="Vegetarian">Vegetarian</option>
                                            </select>
                                        </td>
                                        <td class="flex-row" role="cell"> <input type="text" class="form-control" role="allergies" name="person1_allergies" id="person1_allergies" placeholder="Enter allergies" maxlength="256"></td>
                                        <td class="flex-row" role="cell">
                                            <select class="form-control" required name="person1_hotel" id="person1_hotel" onchange="replaceSelection(this)">
                                                <option value="Yes" selected="selected">Yes, I plan to stay at the Hotel.</option>
                                                <option value="No">No, I have other accommodations.</option>
                                            </select>
                                        </td>
                                        <td class="flex-row" role="cell">
                                            <select class="form-control" required role="attendance" name="person1_attendance" id="person1_attendance" onchange="updateAttendance(this)">
                                                <option value="Yes" selected="selected">Yes, I will be attending</option>
                                                <option value="No">Unfortunately, I will not be able to make it.</option>
                                            </select>
                                        </td>
                                        <td class="flex-cell right" role="cell"><button name="add" id="addPerson_1">+</button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-12">
                                <ul class="actions">
                                    <li><input type="submit" value="Submit" class="form_submit primary button" /></li>
                                    <li><input type="reset" value="Reset" /></li>
                                </ul>
                            </div>
                        </form>
                    </section>
                </div>
            </section>
        </div>
        
    {%- include footer.html -%}

    {%- include scripts.html -%}    

    {%- include firebase.html -%}
    
    <script type="text/javascript" src= {{ "/assets/js/rsvpListener.js" | relative_url }}></script>
    <script type="text/javascript" src={{ "/assets/js/addPerson.js" | relative_url }}></script>
  </body>
</html>
