---
permalink: rsvp.html
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="landing is-preload"></body>
  		<!-- Page Wrapper -->
		<div id="page-wrapper">
            {%- include header.html -%}
        <!-- Main -->
        <article id="main">
            <header>
                <h2>RSVP Page</h2>
                <p>Please RSVP Below</p>
            </header>
            <section class="wrapper style3">
                <div class="inner">
                    <section>
                        <form id="rsvp">
                            <table class="table nowrap" text-align="center" id="reservationTable">
                                <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Food Selection</th>
                                        <th>Allergies</th>
                                        <th>Lodging</th>
                                        <th>Add/Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr name="person.1" id="person.1">
                                        <div class="row" style="flex-flow: row wrap;" >
                                            <td><input type="text" class="form-control" size=”19″ name="person1.firstName" id="person1.firstName" value="" required placeholder="First Name*"></td>
                                            <td><input type="text" class="form-control"  size=”19″ name="person1.lastName" id="person1.lastName" value="" required placeholder="Last Name*"></td>
                                            <td>
                                                <select class="form-control" required name="person1.foodSelection" id="person1.foodSelection">
                                                    <option>Chicken</option>
                                                    <option>Fish</option>
                                                    <option>Vegetarian</option>
                                                </select>
                                            </td>
                                            <td><input type="text" class="form-control" name="person1.allergies" id="person1.allergies" placeholder="Enter allergies" maxlength="256"></td>
                                            <td>
                                                <select class="form-control" required name="person1.hotel" id="person1.hotel">
                                                    <option value="yes">Yes, I plan to stay at the Hotel.</option>
                                                    <option value="No" selected>No, I have other accommodations.</option>
                                                </select>
                                            </td>
                                            <td><button name="add" id="addPerson.1">+</button></td>
                                        </div>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-12">
                                <ul class="actions">
                                    <li><input type="submit" value="Submit" class="form_submit primary button" /></li>
                                    <li><input type="reset" value="Reset" /></li>
                                </ul>
                            </div>
                        </form>
                    </section>
                </div>
            </section>
        </div>
        
    {%- include footer.html -%}

    {%- include scripts.html -%}    

    {%- include firebase.html -%}
    
    <script type="text/javascript" src= {{ "/assets/js/rsvpListener.js" | relative_url }}></script>
    <script type="text/javascript" src={{ "/assets/js/addPerson.js" | relative_url }}></script>
    <!-- <script type=text/javascript>
        $("#addPerson").on('click', (function() {
            var $tr = $('tr[id^="person"]:last');

            // Read the Number from that DIV's ID (i.e: 3 from "klon3")
            // And increment that number by 1
            var num = parseInt( $tr.prop("id").match(/\d+/g), 10 )+1;
            // disable previous button
            var $button = $tr.find('button[name="addRemove"]:not(:disabled)').prop('disabled', true);
            $tr.clone(true, true).prop('id', 'person'+ num );
                // .insertAfter('#reservationTable tbody>tr:nth-last-child(2)');
            fixProps($tr, num);
            $tr.appendTo("#reservationTable");
            return false;
        }));

        function fixProps(elem, cntr) {
            $(elem).find("[id]").add(elem).each(function(prop) {
                console.log(this.id);
                this.id = this.id.replace(/\d+$/, '') + cntr;
            });
        }
    </script> -->
  </body>
</html>
