---
permalink: share.html
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="landing is-preload"></body>
  		<!-- Page Wrapper -->
		<div id="page-wrapper">
            {%- include header.html -%}
        <!-- Main -->
        <article id="main">
            <header>
                <h2>Share the Love With Us</h2>
                <p>Please Send Any Messages, Photos, or Videos from our wedding to us here!</p>
            </header>
            <section class="wrapper style1 special">
                <div class="inner">
                    <section>
                        <div class="row gtr-uniform">
                            <form id="upload">
                                <div id="filesubmit" class="col-6">
                                    <input type="file" class="file-select" accept="image/*,video/*"/> <br>
                                </div>
                                <br>
                                <div class="col-12">
                                    <textarea id="fileCaption" placeholder="Send us a caption for your file!" rows="2"></textarea><br><br>
                                    <input required id="uploader" type="text" placeholder="Who are you?"></input>
                                    <br>
                                    <button type="file" value="Submit" class="file-submit primary button" >Submit</button>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </section>
            <section class="wrapper style3 special">

                <div class="box alt">
                    <div id="gallery" class="row gtr-50 gtr-uniform">

                    </div>
                </div>
            </section>
        </article>
        
    {%- include footer.html -%}

    {%- include scripts.html -%}    

    {%- include firebase.html -%}

    <script type="text/javascript" src={{ "/assets/js/submitFile.js" | relative_url }}></script>
  </body>
</html>
