---
permalink: gallery.html
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  {%- include firebase.html -%}

  {% assign detailedEvents = site.data.detailedEvents %}

  <body class="landing is-preload"></body>
  		<!-- Page Wrapper -->
		<div class="page-wrapper">
            {%- include timeline_header.html -%}
            <!-- Main -->
            <article id="main">
                <header class="timelineBanner">
                    <h2>Gallery</h2>
                    <p>Help Us Make a Real-time Wedding Album</p>
                    <p>Pictures and Videos uploaded via the menu and home page display here!</p>    
                    <ul class="actions special">
                        <li><a href="#" class="button alt" id="uploadForm">Upload to Our Gallery</a></li>
                    </ul>            
                </header>
                <section class="timeline_area section_padding_130">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <!-- Timeline Area-->
                                <div class="apland-timeline-area" id="timelineArea">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </section>     
            </article>
            
        {%- include footer.html -%}

        {%- include scripts.html -%}    



        <script src={{ "/assets/js/loadImages.js" | relative_url }}></script>
    </div>
  </body>
</html>
