---
permalink: timeline.html
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="landing is-preload"></body>
  		<!-- Page Wrapper -->
		<div id="page-wrapper">
            {%- include header.html -%}
        <!-- Main -->
        

        <article id="main">

            <header>
                <h2>Day-of Timeline</h2>
                <p>The Day-of Timeline and Real-time Wedding Album</p>
                <p>Come here for updates on the day-of and to upload photos and videos of the day!</p>
            </header>
            <div>
                <section class="wrapper style1 special">
                    <!--
                        / checkbox: Images only, Videos, Text Only
                        / all: (checks all three)
                    -->
                    <div class="box alt">
                        <div class="row gtr-50 gtr-uniform" id="gallery">
                            <div class="col-4">
                                <span class="image fit">
                                    <img src="images/pic01.jpg" alt="">
                                </span>
                            </div>
                        </div>                      
                    </div>
                </section>
            </div>
     
        </article>
        
    {%- include footer.html -%}

    {%- include scripts.html -%}    

    {%- include firebase.html -%}

    <script src={{ "/assets/js/loadImages.js" | relative_url }}></script>

  </body>
</html>
